.heading {
	color: white;
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
}
.image {
	width: 350px;
	height: 250px;
	margin: 15px;
	opacity: 0.5;
	border-radius: 15px;
	border:none;
}

.image:hover {
	opacity: 1;
}
body {
	margin: 30px;
	background-color: black;	
}
.myButton {
	background-color: red;
	color: black;
	padding: 10px;
	border-radius: 5px;
	border: none;
}
.myButton:hover {
	font-size: 15px;

}
a:active {
	outline: none;
	border: none;
}
.:active {
	outline: none;
	border: none;
}
